<!DOCTYPE html>
<html>
<head>
    <title>BOM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<h1>BOM</h1>
<p>Welcome to BOM</p>
<script src="javascripts/bom.js"></script>

</body>
</html>
