<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/bom">BOM</a></li>
      <li><a href="/dom">DOM</a></li>
      <li><a href="/app">APP</a></li>
      <li><a href="/jq">Jquery</a></li>
      <li><a href="/df">Jquery</a></li>

    </ul>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
