<!DOCTYPE html>
<html>
<head>
    <title>DOM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p>Welcome to DOM</p>
<table id="personTbl">
    <thead>
        <th>First name</th>
        <th>Last name</th>
    </thead>
    <tbody id="tbodyId">

    </tbody>
</table>

<form novalidate>
    <input id="inFn" name="fn" required type="text">
    <input id="inLn" name="ln" required type="text">
</form>
<button id="save">Save</button>


</body>
<script src="javascripts/app.js"></script>
</html>
